@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
  @apply mx-auto;
  max-width: 1440px;
  padding: 0 16px;
  overflow: visible;
}

.navigation-hover {
    cursor: pointer;
}

.navigation-hover:hover {
    color: #1177FF;
    font-weight: 600;
}